*{
  scroll-behavior: auto;
  /* background-color: #222831; */
}
.nav{
  background-color: #00adb5;
  font-family:monospace;
}
body,html{
  overflow-x:hidden;
  max-width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: auto;
}
body{
  /* background-color: rgb(28, 28, 28); */
  background-color: #00adb5;
  color: white;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Ysabeau', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.navbar-brand img{
    display: inline-block;
    max-width: 30%;
    height: auto;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
    }
 img{
    height: 40vh;
    width: 45vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
    } 

.img-thumbnail{
  height: 30vh;
  width: 30vw;
  margin-left: 2vw;
}
.news{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  margin: 12px;
}
p{
  text-align: center;
}
/* .fs-2, h5{
  text-decoration: underline;
  text-decoration-color: rgb(255, 128, 0);
} */
.card-title{
  padding-top: 0;
  text-align: center;
}
.carousel-caption{
  color: white;
}
h6{
  text-align: center;
  /* text-decoration: underline;
  text-decoration-color: rgb(255, 128, 0); */
}

.card-img-overlay{
  /* margin-top: 10px; */
  font-weight: 900;
  height: 80vh;
}
.carousel-item{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 35vw;
  margin-left: 31vw;
}
.navbar{
  background-image: linear-gradient(white,rgb(16, 16, 16));
  color: black;
  font-size: 2.5vh;
}
.navbar hr{
  color: black;
  font: 900;
}
.card{
  color: white;
  background-image:linear-gradient(white,black) ;
}
.carousel-caption{
  color: rgb(7, 40, 40);
}
.largeimg{
  background-color: rgb(28, 28, 28);
  padding-left: 30vw;
  padding-right: 30vw;
}
h1,p{
  text-align: center;
  margin-bottom: 2px;
}
@media only screen and (max-width: 600px) {
  body{
    padding: 0;
    margin: 0;
  }
  .carousel-item{
    margin: 22px;
    width: auto;
    height: 65vh;
  }
  .carousel-caption{
    margin: -7vh 0;
  }
  h5,p{
    color: white;
  }
  .conatiner{
    height: 37vh;
  }
  .largeimg .card{
    /* margin: 22px; */
    margin-left: 2px;
    padding-left: 2px;
    width: 65vw;
    height: 40vh;
  }
}
.articles:hover{
  color: #1a202c;
  text-decoration: underline;
}